{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Herreria Britez</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <link href="{% static 'css/principal.css' %}" rel="stylesheet">
</head>
<body>
<div class="cabecera">
    <H1 id="titulo">HERRERIA BRITEZ</H1>
    <br>
    <div id="navegacion">
    <ul>
    <li><a href="#">Sillas</a></li>
    <li><a href="#">Hamacas</a></li>
    <li><a href="#">Parrillas</a></li>
    <li><a href="#">Macetas</a></li>
    </ul>
    </div>
</div>
<br>
<div class="contenido">

</div>
<br>
<div class="footer">
     <footer>
        <p>Diseñador Web: </p>
        <p><a href="devmatiasbritez@gmail.com">devmatiasbritez@gmail.com</a></p>
    </footer>
</div>
</body>
</html>
